---
layout: none
permalink: /for-visitors/
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}"/>
    <title>Our Values | Apartment of Heather Zheng &amp; David Zhang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
    <link href="//fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div>
        {% include nav-back.html %}
        <div class="page-title">For Visitors</div>
        <div class="home">
          <div class="home-menu">
            <div class="home-menu-item">
              <h3>Address</h3>
              <p>
                <a href="http://f.amap.com/3QBld_0D34QlX" target="_blank">@Chaoyang Park</a>
              </p>
            </div>
            <div class="home-menu-item">
              <h3>Book a Visit</h3>
              <p>
                Feel free to contact me, in case you know us. :)
              </p>
            </div>
            <div class="home-menu-item">
              <h3>Guest Wi-Fi</h3>
              <p>
                SSID: YCGuest
              </p>
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
