---
layout: none
permalink: /our-values/
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}"/>
    <title>Our Values | Apartment of Heather Zheng &amp; David Zhang</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="{{ site.baseurl }}{{ page.url }}">
    <link href="//fonts.googleapis.com/css?family=Crimson+Text" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div>
        {% include nav-back.html %}
        <div class="page-title">Our Values</div>
        <div class="home">
          <div class="home-menu">
            <div class="home-menu-item">
              <h3>Health</h3>
              <p>
                Healthy, and environmental-free lifestyle.
              </p>
            </div>
            <div class="home-menu-item">
              <h3>Friendliness</h3>
              <p>
                Be kind to humankind and others.
              </p>
            </div>
            <div class="home-menu-item">
              <h3>Minimalism</h3>
              <p>
                <a href="https://bemorewithless.com/soulfully/">Value yourself more than material things.</a>
              </p>
            </div>
            <div class="home-menu-item">
              <h3>Vigor</h3>
              <p>
                Keep vigorous, both physical and mental.
              </p>
            </div>
            <div class="home-menu-item">
              <h3>Discovery</h3>
              <p>
                Life is an expedition. We are prepared for discovery. Discovery of scientific theories, methodologies, &amp; lifestyles.
              </p>
            </div>
            <div class="home-menu-item">
              <h3>Curiosity</h3>
              <p>
                Curious about the world. Always be brave adopt new concepts.
              </p>
            </div>
            <div class="home-menu-item">
              <h3>Diversity</h3>
              <p>
                Embrace diversity in cultures, languages, and more.
              </p>
            </div>
          </div>
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
